.back{
	margin : 16px;
}
.container{
	margin  : 16px;
	display : flex;
	.product{
		flex : auto;
		.image{
			display         : flex;
			align-items     : center;
			justify-content : center;
		}
	}
	.reviews{
		font-family : Roboto, "Helvetica Neue", sans-serif;
		font-size   : 14px;
		.box-reviews{
			overflow   : auto;
			overflow-y : scroll;
			height     : 700px;
		}
	}
}
.text{
	text-decoration : none;
	word-wrap       : break-word;
}
.mobile{
	margin  : 16px;
	display : block;
	.image{
		img{
			max-width : 200px;
		}
	}
}