.back{
	margin : 16px;
}
.container{
	margin  : 16px;
	display : flex;
	.product{
		flex : auto;
		.image{
			display         : flex;
			align-items     : center;
			justify-content : center;
		}
	}
	.reviews{
		font-family : Roboto, "Helvetica Neue", sans-serif;
		font-size   : 14px;
		.box-reviews{
			overflow   : auto;
			overflow-y : scroll;
			height     : 700px;
			.stars{
				display     : flex;
				align-items : center;

				.star{
					color : yellow;
				}
			}
			.cart{
				box-shadow : 0px 0px 10px -2px #000000;
				margin     : 10px;
			}
		}
	}
}
.text{
	text-decoration : none;
	word-wrap       : break-word;
}