<app-header [MenuTitle]="title"></app-header>
<div class="back">
	<button mat-raised-button color="basic" (click)="goBack()">
		<i class="material-icons">arrow_back_ios</i>
		Back
	</button>
</div>
<div (window:resize)="onResize($event)" [ngClass]="screen_size < 1 ? 'container' : 'mobile'">
	<div [ngClass]="screen_size < 1 ? 'product' : 'mobile-product'">
		<h3>{{ product_name }}</h3>
		<span class="image">
			<img
				src="http://smktesting.herokuapp.com/static/{{ product_img }}"
				alt="photo product"
				
			/>
		</span>
		<h4>Description:</h4>
		<span class="text">
			{{ product_text }}
		</span>
	</div>
	<div [ngClass]="screen_size < 1 ? 'reviews' : 'mobile-reviews'">
		<h3>Reviews:</h3>
		<button mat-raised-button color="primary" (click)="addComment()">
			<i class="material-icons">add</i>
			Add review
		</button>
		<div class="box-reviews">
			<span *ngIf="!reviews_shown" class="spinner"> 
				<mat-spinner color="primary"></mat-spinner>
			</span>
			<app-list-comments *ngIf="reviews_shown" [List_comments]="reviews"></app-list-comments>
		</div>
	</div>
</div>