<app-header [MenuTitle]="title"></app-header>
<div class="back">
	<button mat-raised-button color="basic" (click)="goBack()">
		<i class="material-icons">arrow_back_ios</i>
		Back
	</button>
</div>
<div class="container">
	<div class="product">
		<h3>{{ product_name }}</h3>
		<span class="image">
			<img
				src="http://smktesting.herokuapp.com/static/{{ product_img }}"
				alt="photo product"
				
			/>
		</span>
		<h4>Description:</h4>
		<span class="text">
			{{ product_text }}
		</span>
	</div>
	<div class="reviews">
		<h3>Reviews:</h3>
		<button mat-raised-button color="primary" (click)="openDialog()">
			<i class="material-icons">add</i>
			Add review
		</button>
		<div class="box-reviews">
			<mat-card *ngFor="let item of reviews" class="cart">
				<mat-card-content>
					<div class="stars">
						<span>Rate:</span>
						<span *ngFor="let i of stars" class="star">
							<i class="material-icons" *ngIf="item.rate < i">star_border</i>
							<i class="material-icons" *ngIf="item.rate >= i">grade</i>
						</span>
					</div>
					Comment:
					<div class="text">{{ item.text }}</div>
				</mat-card-content>
				<mat-card-actions>
					public as {{ item.created_by.username }} date: {{ item.created_at | date:"dd.MM.yyyy HH:mm:ss" }}
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
<!-- 
<i class="material-icons">clear</i>
<i class="material-icons">delete</i>
<i class="material-icons">delete_sweep</i>
<i class="material-icons">save_alt</i> 
-->