	<h1 mat-dialog-title>{{ data.text }}</h1>
	<h4 style="color: red; font-size: 16px;" *ngIf="message">{{ message }}</h4>
	<div mat-dialog-content>
		<p>User name</p>
		<input type="text" name="name" [(ngModel)]="name" required/>
		<p>User password</p>
		<input type="password" name="password" [(ngModel)]="password" required/>
	</div>
	<div mat-dialog-actions>
		<button mat-raised-button color="basic" (click)="close()">No Thanks</button>
		<button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>
			Ok
		</button>
	</div>
