<div class="box-block">
	<h1 mat-dialog-title>{{ data.text }}</h1>
	<span class="message" *ngIf="message">{{ message }}</span>
	<div mat-dialog-content>

		<div>
			<mat-form-field class="example-full-width">
				<span>User name</span>
				<input 
					matInput 
					type="text" 
					[(ngModel)]="name" 
					required/>
				<mat-hint class="message">{{name_warning}}</mat-hint>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="example-full-width">
				<span>User password</span>
				<input 
					matInput 
					type="password" 
					name="password" 
					[(ngModel)]="password" 
					required/>
				<mat-hint class="message">{{password_warning}}</mat-hint>
			</mat-form-field>
		</div>
	</div>
	<div mat-dialog-actions>
		<button 
			mat-raised-button 
			color="basic" 
			(click)="close()">
			No Thanks
		</button>
		<button 
			mat-raised-button 
			color="primary" 
			(click)="save()" 
			cdkFocusInitial>
			Ok
		</button>
	</div>
</div>
