<div>
	<app-header [MenuTitle]="title"></app-header>
</div>
<div>
	<mat-toolbar color="basic">
		<span>Navigate panel</span>
		<div class="spacer"></div>
		<button (click)="onGridList()">
				<i class="material-icons" *ngIf="cols == 3"> grid_on </i>
				<i class="material-icons" *ngIf="cols == 1"> grid_off </i>
		</button>
	</mat-toolbar>
</div>
<div>
	<span *ngIf="!shown" class="spinner"> 
		<mat-spinner color="primary"></mat-spinner>
	</span>
	<div *ngIf="cols == 1">
		<div *ngFor="let x of products" class="col1">
			<img
				src="http://smktesting.herokuapp.com/static/{{ x.img }}"
				alt="photo product"
				class="indent"
			/>
			<span class="indent">{{ x.title }}</span>
			<button
				mat-raised-button
				color="primary"
				style="margin-left: 10%;"
				(click)="onChoeseProduct(x)"
			>
				Detals
				<i class="material-icons">more_horiz</i>
			</button>
		</div>
	</div>
	<span *ngIf="shown">
		<mat-grid-list *ngIf="cols == 3" cols="3">
			<mat-grid-tile *ngFor="let itm of products">
				<div class="item">
					<img
						src="http://smktesting.herokuapp.com/static/{{ itm.img }}"
						alt="photo product"
					/>
					<span>{{ itm.title }}</span>
					<button mat-raised-button color="primary"
						(click)="onChoeseProduct(itm.id)"
					>
						Detals
						<i class="material-icons">more_horiz</i>
					</button>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
	</span>
</div>
