.item {
	display : grid;
	.text{
		text-align : center;
		padding    : 10px;
	}
}

.spacer {
	flex: 1 1 auto;
}
.col1 {
	display       : flex;
	align-items   : center;
	height        : 300px;
	border-bottom : 1px solid rebeccapurple;
	margin-left: 16px;
	margin-right: 16px;
	.indent {
		padding-left : 5%;
	}
	.name-product{
		flex: auto;
		padding-left : 16px;
		font-family : Roboto, "Helvetica Neue", sans-serif;
		font-size   : 16px;
	}
}
.spinner{
	display         : flex;
	align-items     : center;
	justify-content : center;
}

.container {
	width        : 1170px;
	margin-top   : 25px;
	margin-right : auto;
	margin-left  : auto;
	table{
		width : 100%
	}
	mat-paginator{
		margin-top: 15px;
	}
}

.string-table{
	word-wrap: break-word;
	white-space: pre-wrap;
}

.mobile{
	display : grid;
	margin  : 16px;
	.name-product{
		font-family : Roboto, "Helvetica Neue", sans-serif;
		font-size   : 16px;
		padding     : 10px;
	}
	.text{
		text-align : center;
		padding    : 10px;
	}
	.image{
		width : 120px;
	}
}
