<mat-toolbar color="primary">
	<div class="title">
		<i class="material-icons" *ngIf="icon_toggle">info</i>
		<i class="material-icons" *ngIf="!icon_toggle">list</i>
		<span>{{ MenuTitle }}</span>
	</div>
	<div class="spacer"></div>
	<div class="block-btn">
		<div class="buttons" *ngIf="!avtorizate">
			<button mat-raised-button color="basic" 
			(click)="openDialog('Please login in!', 'Log in')">
				<i class="material-icons">input</i>
				Log in
			</button>
			<button mat-raised-button color="warn" 
			(click)="openDialog('Please registrate!', 'Registrate')">
				<i class="material-icons">person_add</i>
				Registrate
			</button>
		</div>
		<div class="login" *ngIf="avtorizate">
			<div class="block">
				<i class="material-icons">account_circle</i>
				<span class="name">{{ name }}</span>
			</div>
			<div class="block" (click)="onCloseLogin()">
				<i class="material-icons">exit_to_app</i>
				<span class="name">Exit</span>
			</div>
		</div>
	</div>
</mat-toolbar>

